.App {
  text-align: center;	
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Photo {
	text-align: right;
/*
	display:flex;
	justify-content: flex-end;
*/
}

.Photo .Remove {
	margin-right: 150px;
}

img{
/*	margin: 180px;*/
	margin-right:70px;
	margin-top:20px;
	width: 150px;
/*	height: auto;	*/
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
